# Dependencies
node_modules/

# Production builds
dist/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Environment & Local Data
.env
.env.local
project_todos.json
todos.json
